*,
* ::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
@import '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,700&display=swap');
@import './base/variables';
@import './components/header';
@import './components/hero';
@import './components/footer';
@import './components/services';


body {
  margin: 0;
  @include default-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
